<style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
        .success-msg,
        .warning-msg,
        .error-msg {
            margin: 10px 0;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
        }

        .info-msg {
            color: #059;
            background-color: #BEF;
        }

        .success-msg {
            color: #270;
            background-color: #DFF2BF;
        }

        .warning-msg {
            color: #9F6000;
            background-color: #FEEFB3;
        }

        .error-msg {
            color: #D8000C;
            background-color: #FFBABA;
        }
</style>
<link href="img/VALDOTXUBA.png" rel="icon">
<link href="img/VALDOTXUBA.png" rel="apple-touch-icon">

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Val do Txuba - Definições</title>
</head>
<body>
	<%- message -%> 
	<!--<section class="py-5 my-5">-->
		<div class="container">
            <br><br><br><br><br>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="img/VALDOTXUBA.png" alt="Image" class="shadow">
						</div>
						<h4 class="text-center"><%- nome -%></h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1"></i> 
							Conta
						</a>
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" id="image-tab" data-toggle="pill" href="#image" role="tab" aria-controls="image" aria-selected="false">
							<i class="fa-regular fa-file-user"></i>
							Imagem
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<form method="post" action="/settings/<%- nif -%>">
						<h3 class="mb-4">Definições de Conta</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Nome</label>
								  	<input type="text" class="form-control" value="<%- nome -%>" id="nome" name = "nome">
								</div>
							</div>
							<!--<div class="col-md-6">
								<div class="form-group">
								  	<label>Email</label>
								  	<input type="text" class="form-control" value="exemplo@gmail.com">
								</div>
							</div>-->
						</div>
						<div>
							<input type="submit" value="Atualizar" class="btn btn-primary">
						</form>
					</div>
					<a href="/menu"><button class="btn btn-light">Cancelar</button></a>
					</div>
					<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
						<form method="post" action="/settings/<%- nif -%>">
						<h3 class="mb-4">Definições de Password</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Password Antiga</label>
								  	<input type="password" class="form-control" id="oPpw" name = "oPpw">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Nova Password</label>
								  	<input type="password" class="form-control" id="nPpw1" name = "nPpw1">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Confirmar Nova Password</label>
								  	<input type="password" class="form-control" id="nPpw2" name = "nPpw2">
								</div>
							</div>
						</div>
						<div>
							<input type="submit" value="Atualizar" class="btn btn-primary">
						</div>
					</form>
					<a href="/menu"><button class="btn btn-light">Cancelar</button></a>
				</div>
				
				<div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
					<form method="post" action="/settings/<%- nif -%>">
						<input type="file" accept="image/*" id="imagem" name="img">
						<br>
						<br>
						<input type="submit" value="Atualizar" class="btn btn-primary">
					</form>
					<a href="/menu"><button class="btn btn-light">Cancelar</button></a>
					</div>
				</div>
			</div>
		</div>
	<!--</section>-->


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
</body>
</html>
